pandas
numpy
scikit-learn<1.6
imbalanced-learn
matplotlib
seaborn
fastapi
uvicorn[standard]
pydantic[email]
joblib
streamlit
requests
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
